<div class="app-container">
  <form class="form">
    <!-- You can manually add `n` different list like this Just remember to place
    them under same cdkDropListGroup. Use this approach if you have very specify
    needs in your component -->

    <!-- <fieldset cdkDropListGroup class="list-wrapper" style="margin-bottom: 20px">
      <div class="entry has-sortable drag-list">
        <h1>Restricted Users</h1>

        <multi-drag-drop listId="todo-multi-drag-drop" [items]="restictedUsers">
          <ng-template let-item>
            <div class="list-item" [ngStyle]="{ color: todoColor }">
              {{ item.name }}
            </div>
          </ng-template>
        </multi-drag-drop>
      </div>

      <br />

      <div class="entry has-sortable drag-list">
        <h1>Unrestricted users</h1>

        <multi-drag-drop
          listId="done-multi-drag-drop"
          [items]="unrestrictedUsers"
        >
          <ng-template let-item>
            <div class="list-item" [ngStyle]="{ color: doneColor }">
              {{ item.name }}
            </div>
          </ng-template>
        </multi-drag-drop>
      </div>
    </fieldset> -->

    <!-- Or You can use multi-drag-drop-pair if you need only two list. This
    component renders two multi-drag-drop components with buttons to move items
    between the list -->

    <multi-drag-drop-pair
      firstListId="todo"
      secondListId="done"
      [firstItemsList]="todo"
      [secondItemsList]="done"
      [firstItemTemplateRef]="firstTemplate"
      [secondItemTemplateRef]="secondTemplate"
      (listUpdated)="logValues()"
      (itemsMoved)="logEvent($event)"
      [isSortingDisabled]="false"
    >
      <h1 first-header-content>TODO</h1>

      <h1 second-header-content>DONE</h1>
    </multi-drag-drop-pair>

    <!-- Template on how item in first list should render -->
    <ng-template let-item let-index="index" #firstTemplate>
      <div class="list-item" [ngStyle]="{ color: todoColor }">
        ({{ index + 1 }}) {{ item }}
      </div>
    </ng-template>

    <!-- Template on how item in second list should render -->
    <ng-template let-item let-index="index" #secondTemplate>
      <div class="list-item" [ngStyle]="{ color: doneColor }">
        {{ index + 1 }}. {{ item }}
      </div>
    </ng-template>

    <div class="actions">
      <button type="button" class="button green" (click)="logValues()">
        Log Values
      </button>

      <!-- <button type="button" class="button green" (click)="logUsers()">
        Log users
      </button> -->
    </div>
  </form>
</div>
