<ul
  class="drop-list boxes"
  cdkDropList
  [id]="listId"
  [cdkDropListData]="items"
  (cdkDropListDropped)="itemDroppedInList($event)"
  [cdkDropListSortingDisabled]="isSortingDisabled"
>
  <li
    *ngFor="let item of items; let i = index"
    class="drop-box"
    [class.selected]="isSelected(i)"
    [class.placeholder]="isDragging && isSelected(i)"
    cdkDrag
    cdkDragPreviewContainer="parent"
    [cdkDragPreviewClass]="selectedItemsCount > 1 ? 'drag-preview' : ''"
    [attr.data-count]="selectedItemsCount"
    (cdkDragStarted)="dragStarted($event, i)"
    (cdkDragEnded)="dragEnded()"
    (cdkDragDropped)="dragDropped($event)"
    (click)="selectItem($event, i)"
  >
    <ng-container *ngIf="!isDragging || !isSelected(i)">
      <!-- Default View -->
      <ng-container
        *ngTemplateOutlet="
          templateRef || itemTemplateRef;
          context: {
            $implicit: item,
            item: item,
            index: i,
            selectedCount: selectedItemsCount,
            isSelected: isSelected(i)
          }
        "
      ></ng-container>
    </ng-container>

    <!-- Custom Preview View when multiple items are selected -->
    <!-- <ng-container *ngIf="selectedItemsCount > 1">
      <div
        *cdkDragPreview
        class="drag-preview"
        [attr.data-count]="selectedItemsCount"
      >
        <ng-container
          *ngTemplateOutlet="
            templateRef || itemTemplateRef;
            context: {
              $implicit: item,
              item: item,
              index: i,
              selectedCount: selectedItemsCount,
              isSelected: isSelected(i)
            }
          "
        ></ng-container>
      </div>
    </ng-container> -->
  </li>
</ul>
